@import "tailwindcss";

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stars {
  background: #000 url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  z-index: 0;
}

.twinkling {
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: moveStars 200s linear infinite, twinkle 2s infinite ease-in-out;
  opacity: 0.6;
  z-index: 1;
}

@keyframes moveStars {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

@keyframes twinkle {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}