 

body{
  background: linear-gradient(to bottom right, #080B14, #070f33, #070A14);
}

@import "tailwindcss";
@theme {
  --breakpoint-xs: 300px;
}

@keyframes snake {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
@layer utilities {
  .animate-snake {
    animation: snake 5s linear forwards;
  }
}